<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Houston Food Trucks" %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= link_to "HOUSTON FOOD TRUCKS", root_path %>
  <li>
    <%= link_to "Sign In", new_user_session_path %>
  </li>
  <li>
    <%= link_to "Sign Up", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  </li>
    <% flash.each do |key, value| %>
          <%= value %>
        <% end %>

        <%= yield %>
  </body>
</html>
